<% if Current.user.errors.any? %>
    <div class="alert alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
            <div>
                <%= message %>
            </div>
        <% end %>
    </div>
<% end %>

<h1><%= Current.user.email %>'s Profile</h1>

<div class = "mb-3">
    Name:
    <%= Current.user.name %>
</div>
<div class = "mb-3">
    Birthday:
    <%= Current.user.dob %>
</div>
<div class = "mb-3">
    About Me:
    <%= Current.user.about %>
</div>

<%= link_to "Edit Profile", edit_profile_path, class: "btn btn-secondary" %>
<%= link_to "Edit Password", edit_password_path, class: "btn btn-secondary" %>